body{
    background-color: #216d44
}



.singa {
    background-color: #04d897

}

tr {
    height : 50px;
}
.css0 {
    background-color: rgb(219, 218, 218);   
}
.css1 {
    background-color: #04d897
}

#submission {
    background-Color: #04d897
}
p {
    font-style: italic;
    color: #091a53;
}